/*
 * 基本规则
 * @Author slashhuang
 * reference==> http://sass.bootcss.com/docs/sass-reference
 */

// 嵌套规则 Nested Rules 

#a {
	.a-1{
		background:yellow;
		.child{
			font-size:12px;
			.child-1{
				color:red
			}
		}
	}
}


// 引用父选择符： & ==> parent selector
// & 在编译时将被替换为父选择符，输出到 CSS 中
// a:hover , a:active , a:visited , a:first-letter , a:last-child
// .hello.active{color}
.hello {
	.dropdown{
		display: none;
	}
  &:hover { 
		.dropdown{
			display: block;
		}
	}
}
/**/

/* 嵌套属性 CSS has quite a few properties that are in "namespaces;"*/
// DRY
// font-family
// font-size
// boder-radius
// border-color
.funky {
  font: {
    family: fantasy;
    size: 30em;
    weight: bold;
  }
  border: {
  	radius:20px;
  	color:red;
  }
}

// 注释规则  Comments: /* */ and //

$width: 5em; 

